body {
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 40rem;
  padding: 10px;
  border-radius: 10px;
  font-size: 65px;
  background: rgb(195, 203, 207);
  text-align: center;
}
button {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 35px;
  margin-top: 5px;
}
